{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>

<br>
<br>
    <div class="cont">
        <form class="form sign-In" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2>Welcome</h2>
            <label>
                <span>Email</span>
                <input type="email" name="email"/>
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password"/>
            </label>
            <p class="forgot-pass">Forgot password?</p>
            <input type="submit" class="submit" value="Sign In">

        </form>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">

                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">

                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <form class="form sign-up" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h2>Create your Account</h2>
                <label>
                    <span>Name</span>
                    <input type="text" name="username" />
                </label>
                <label>
                    <span>Email</span>
                    <input type="email" name="email"/>
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" name="password1"/>
                </label>
                <label>
                    <span>Password Again</span>
                    <input type="password" name="password2"/>
                </label>
               <!--<button type="button" class="submit">Sign Up</button --> >
                <input type="submit" class="submit" value="Sign Up">

            </form>
        </div>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>

</body>